<app-header-bar></app-header-bar>
<div class="container d-flex p-2 align-items-start justify-content-around my-5 flex-column gap-4">
   <h1 class="dashboard-title">Admin Dashboard</h1>
   

        <div  class="dashboard-container fw-bold rounded-2 " (click)="goToDrivers()"><p>Drivers</p>
        <img src="images/driver.png" alt="">
        </div>
        <div  class="dashboard-container fw-bold rounded-2 " (click)="goToRiders()"><p>Riders</p> 
        <img src="images/rider.png" alt="">
        </div>
        <div  class="dashboard-container fw-bold rounded-2 " (click)="goToTrips()"><p>Trips</p>
        <img src="images/trip.png" alt="">
        </div>
        <div  class="dashboard-container fw-bold rounded-2 " (click)="goToReports()"><p>Reports</p>
        <img src="images/report.png" alt="">
        </div>
</div>