 <div class="align-items-center text-center shadow p-4">
            @if(this.role==="Driver"){
            @if(activeTrip.tripStatus==="Confirmed"){
           <p class="fw-bold">{{activeTrip.pickUpName}}</p>
           <p>to</p>
           <p class="fw-bold">{{activeTrip.destinationName}}</p>

           <p class="fw-bold"> distance: {{activeTrip.distanceKm.toFixed(2)}} Km</p>
           
           <p class="fw-bold">duration: {{activeTrip.durationMinutes.toFixed(2)}} minutes</p>
           <p class="fw-bold">price:{{activeTrip.price.toFixed(1)|currency:'USD'}}</p>

            }
              @else if(activeTrip.tripStatus==='Accepted'){
              <p>meet the rider at </p>
              <p class="fw-bold">  {{activeTrip.pickUpName}}</p>
              
            }
            @else if(activeTrip.tripStatus==='Started'){
          <p>you are on your way to </p>
           <p class="fw-bold"> {{activeTrip.destinationName}}</p>
            }       
            } 
            @else {
              @if(activeTrip.tripStatus==='Requested'){
              }
              @else if(activeTrip.tripStatus==='Confirmed'){
                <p>matching your request with nearby drivers</p>
                <div class="scan-bar"></div>

              }

              @else if(activeTrip.tripStatus==='Started'){
          
           <p>you are on your way to </p>
           <p class="fw-bold"> {{activeTrip.destinationName}}</p>

              }
              
            }
           @if(activeTrip.tripStatus==='Requested'){
           <p class="fw-bold">{{activeTrip.pickUpName}}</p>
           <p>to</p>
           <p class="fw-bold">{{activeTrip.destinationName}}</p>

           <p class="fw-bold"> distance: {{activeTrip.distanceKm.toFixed(2)}} Km</p>
           
           <p class="fw-bold">duration: {{activeTrip.durationMinutes.toFixed(2)}} minutes</p>
           <p class="fw-bold">price:{{activeTrip.price.toFixed(1)|currency:'USD'}}</p>
         } 
          @if(this.role==="Rider"){
            
            @if(activeTrip.tripStatus==='Requested'){

                <button (click)="confirmRequest()" class="w-100 mx-auto my-2 btn btn-success rounded-3">confirm request</button>
            }
            <button class="w-100 mx-auto my-2 btn btn-danger rounded-3" (click)="canceltrip()">cancel</button>
          }
         @else if(this.role==="Driver"){
            @if (activeTrip.tripStatus==='Confirmed'){
               <button (click)="accepttrip()" class="w-100 mx-auto my-2 btn btn-success rounded-3">accept request</button>
            }
             @else if(activeTrip.tripStatus==='Accepted'){
          <button (click)="starttrip()" class="w-100 mx-auto my-2 btn btn-info rounded-3">start </button>
        }
        @else if(activeTrip.tripStatus==='Started'){
          <button (click)="endtrip()" class="w-100 mx-auto my-2 btn btn-dark rounded-3">end </button>
        }
         <button class="w-100 mx-auto my-2 btn btn-danger rounded-3" (click)="canceltrip()">cancel</button>
          }
          
          
        </div>
