.scan-bar {
  position: relative;
  width: 80%;
  height: 6px;
  border-radius: 4px;
  background: #e0e7ff; 
  overflow: hidden;
  margin: 15px auto;
}

.scan-bar::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 0;
  height: 100%;
  background: #3b82f6; 
    transform: translateX(-50%);
  animation: scan 1.7s ease-in-out infinite;
}

@keyframes scan {
  0% {
    width: 0;
  }
  50% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}