<div class="face-scan-container">
  <!-- Video background -->
  <video 
    #video 
    autoplay 
    playsinline 
    [style.display]="preview ? 'none' : 'block'"
    class="background-media">
  </video>

  <!-- Captured image preview -->
   @if(preview){
    <img [src]="preview" class="background-media" />
   }
  
  <!-- Overlay controls -->
  <div class="overlay">
    <h2>{{ mode === 'register' ? 'Register your face' : 'Face login' }}</h2>

    <button (click)="captureAndUpload()" class="btn btn-outline-success" [disabled]="buttonText">
      {{ buttonText || (mode === 'register' ? 'Register Face' : 'Login with Face') }}
    </button>

    <p class="status-message">{{ loginResult }}</p>
  </div>
</div>
