  <div class="container-wrapper d-flex vh-100 vw-100 position-relative">

      <button (click)="redirectToHomepge()" class="btn btn-primary my-2 mx-5 position-absolute z-2"> back to homepage</button>

     @if(errorState){
        <app-message-box class="z-4"[errorMessage]="errorMessage" (acknowledgeError)="acknowledgeError()" ></app-message-box>
     } 
    @if(messageState){
              <app-message-box class="z-3"[errorMessage]="message" (acknowledgeError)="acknowledgeError()" ></app-message-box>
      }
      @else{
        @if(activeTrip &&activeTrip.tripStatus==="Ended"){
            <app-review-box class=" z-3" [tripId]="activeTrip.id" (submitReview)="submitReview($event)"></app-review-box>
        }
      }
    @if(InTrip){
      @if(activeTrip.tripStatus==="Accepted"){
        <app-driver-info-display [driver]="driver" [tripId]="activeTrip.id" (cancelTrip)="cancelTrip($event)" class=" position-absolute z-2 bg-white rounded-3" style="margin-top: 50px; margin-left: 45px; width: 350px;" ></app-driver-info-display>
      }
      @else {
        <app-trip-component [activeTrip]="activeTrip" (confirmTripRequest)="confirmTripRequest($event)" (cancelTrip)="cancelTrip($event)" class="position-absolute z-2 bg-white rounded-3" style="margin-top: 50px; margin-left: 45px;width: 350px;" ></app-trip-component>

      }
     
            }@else{
      <app-rider-sidebar class="z-2 position-absolute" style="margin-top: 50px; margin-left: 45px; width: 350px;" 
   (originSelected)="handleOriginUpdate($event)"
   (destinationSelected)="handleDestinationUpdate($event)"
   (paymentMethodSelected)="handlePaymenMethodUpdate($event)"
   (tripRequested)="handleTripRequest($event)"
   ></app-rider-sidebar>


    }


    
 <app-map class="vw-100 vh-100 z-0 flex-grow-1 "
  [firstPoint]="getFirstPoint()"
  [secondPoint]="getSecondPoint()">
</app-map>

  </div>
  
 