<div class="w-50 mx-auto my-2 d-flex flex-column align-items-center justify-content-center justify-content-around border border-1 rounded-2 p-2">

  <input placeholder="Current latitude" class="form-control w-100 my-2" type="text" [(ngModel)]="currentLatitude">
  <input placeholder="Current longitude" class="form-control w-100 my-2" type="text" [(ngModel)]="currentLongitude">
  <input placeholder="Destination latitude" class="form-control w-100 my-2" type="text" [(ngModel)]="destinationLatitude">
  <input placeholder="Destination longitude" class="form-control w-100 my-2" type="text" [(ngModel)]="destinationLongitude">

  <select class="form-control w-100 my-2" [(ngModel)]="paymentMethod">
    <option [ngValue]="null" disabled selected>Select a payment method</option>
    <option [ngValue]="0">Cash</option>
    <option [ngValue]="1">E-Wallet</option>
  </select>

  <button (click)="requestTrip()" class="btn btn-outline-dark w-100">Request Trip</button>
</div>
