<div class="container">
  <h3>Reset Password</h3>

  <form (ngSubmit)="submit()" #form="ngForm">
    <input
      type="password"
      name="password"
      [(ngModel)]="newPassword"
      required
      placeholder="New Password"
    />

    <button type="submit" [disabled]="!form.valid || loading">
      <span
        *ngIf="loading"
        class="spinner-border spinner-border-sm me-2"
        role="status"
        aria-hidden="true"
      ></span>
      Reset Password
    </button>
  </form>

  <p class="alert alert-success" *ngIf="message">{{ message }}</p>
  <p class="alert alert-danger" *ngIf="error">{{ error }}</p>
</div>
